.menu-setion{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0,191,165,.85);
	z-index: 100;
	// display: flex;
	display: none;
}
.menu-section__content{
	margin: auto;

	.navigation__list{
	    display: flex;
	    flex-direction: column;
	}

	.navigation__item{
		text-align: center;
		margin-right: 0;
	}

	.navigation__link{
		font-size: 63px;
		// padding: 70px 0;
		font-family: 'bernier-regular';
		position: relative;
		&:before{
			position: absolute;
			display: block;
			content: "";
			background: rgba(255,255,255,0);
			width: 21px;
			height: 6px;
			top: 47%;
			left: -21px;
			// left: -13%;
			transform: translateX(-47%);
			transition: .2s;
		}

		&:after{
			@extend .navigation__link:before;
			left: auto;
			right: -40px;
		}
		&:hover{
			color: #fff;
			&.navigation__link:before{
				background: rgba(255,255,255,0.2);
			}
		}
	}
}




.section.hero{
	background: url('../backgrounds/about1.jpg') center top no-repeat;
	background-size: cover;
	position: relative;
	// z-index: 10;
}

.hero__socials{
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 10;
}

.hero__socials .socials__item{
	.socials__icon{
		fill: rgba(255,255,255,.5);
	}
	&:hover{
		.socials__icon{
			fill: rgba(255,255,255,1);
		}
	}
}



.hero .user{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;

	.name-line{
		color: #fff;
	}	

	.plate__title{
		color: #fff;
		opacity: 0.8;
	}
}

.hamburger__pic{
	fill: rgb(255,255,255);
	opacity: .5;
	transition: .2s;
}

.hamburger{
	display: block;
	height: 35px;
	width: 40px;

	&:hover svg{
		opacity: 1;
	}
	&:hover span{
		background: white;
	}
	&:hover span:nth-child(2),&:hover span:nth-child(3){
		background: white;
	}
}

.hero__menu{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 100;
}

.hero__menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgba(255,255,255,.5);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hero__menu.active span{
	background: rgb(255,255,255);
}

.hero__menu{
  	span:nth-child(1) {
  		top: 0px;
	}
	span:nth-child(2),span:nth-child(3){
		top: 17px;
		background: rgba(255,255,255,.25);
	}
	span:nth-child(4){
		top: 35px;
	}
}

.hero__menu.active{
	span:nth-child(1) {
  		top: 18px;
		width: 0%;
		left: 50%;
	}
	span:nth-child(2),{
		transform: rotate(45deg);
	}
	span:nth-child(3){
		transform: rotate(-45deg);
	}
	span:nth-child(4){
		top: 18px;
		width: 0%;
		left: 50%;
	}
}

.arrow__pic path{
	fill: rgba(255,255,255,.5);
	transition: .2s;
}

.hero__arrow{
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	z-index: 30;

	&:hover{
		.arrow__pic path{
			fill: rgba(255,255,255,1);
		}
	}
}

.portfolio{
	width: 100%;
	height: 100%;
	background: url("../svg/welcome/portfolio_header.svg") center center no-repeat;
	background-size: contain;
	// z-index: -10;
    opacity: 0.06;

}

.hero__stamp{
	position: absolute;
}

.hero__triangles{
	position: relative;
	top: 100%;
	z-index: 20;
}

.traingle{
	position: absolute;
    transform: translateY(-100%);
}

.triangle__left,.triangle__right{
	fill: #fff;
}

.multi__triangles .triangle__left{
	fill: #efeee9;
}

.multi__triangles .triangle__right{
	fill: #eeebdf;
}

.section.about{
	height: auto;

	display: flex;
	flex-wrap: wrap;
}

.section.about .container{
	display: flex;
	height: 100%;
	flex-wrap: wrap;
}

.about__left{
	flex: 1 1 50%;
	background: #efeee9;
}

.about__right{
	flex: 1 1 50%;
	background: #eeebdf; 
}

.wrap__internal{
	position: relative;
	.wrapper__left{
		display: inline-block;
		font-size: 0;
		content: "";
		position: absolute;
		left: 0;
		width: 50%;
		height: 100%;
		background: #efeee9;
		z-index: -50;
	}

	.wrapper__right{
		display: inline-block;
		font-size: 0;
		content: "";
		position: absolute;
		right: 0;
		width: 50%;
		height: 100%;
		background: #eeebdf;
		z-index: -50;
	}
}

.about__left-title{
	position: relative;
	text-align: center;
}

.block-title{
	position: relative;
	font-size: 63px;
	color: $black;
	font-family: 'bernier-regular';

	&:before{
		position: absolute;
		display: block;
		content: "";
		background: $black;
		opacity: 0.2;
		top: 47%;
		left: -21px;
		// left: -13%;
		transform: translateX(-47%);
		width: 21px;
		height: 6px;
	}

	&:after{
		@extend .block-title:before;
		left: auto;
		right: -40px;
	}
}

.about__left-stamp{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../svg/about/about_header.svg') center center no-repeat;
	background-size: contain;
	opacity: 0.07;
}

.user-description__image{
	margin-top: 30px;
	display: flex;
}

.user-description__avatar{
	margin: auto;
	max-width: 440px;
	max-height: 390px;
}

.user-description__title{
	margin: 30px 0 18px 0;
}

.block-subtitle{
	font-size: 35px;
	line-height: 1;
	color: $grey;
	font-family: 'bernier-regular';
	text-align: center;
	position: relative;
	display: inline-block;
	left: 50%;
    transform: translateX(-50%);

	&:before{
		position: absolute;
		display: block;
		content: "";
		width: 22px;
		height: 5px;
		background: #cacbc8;
		top: 50%;
		transform: translateY(-50%);
		left: -52px;
	}

	&:after{
		@extend .block-subtitle:before;
		left: auto;
		right: -52px;
	}
}

.user-description__text{
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.5;
	color: $grey;
	font-family: 'roboto-regular';
	max-width: 420px;
	padding-bottom: 40px;
}

.about__right-title{
	.block-subtitle{
		margin-top: 20px;
		&:after,&:before{
			top: 25%;
		}
	}
}

.about__right .user-description__text{
	max-width: inherit;
    padding: 0 29px;
    margin-bottom: 50px;
}

.skills__list{
	margin-bottom: 40px;
}

.right__skills{
	margin-left: 29px;
}

.skills__title{
	font-size: 28px;
	line-height: 1.1;
	color: $grey;
	font-family: 'roboto-medium';
	padding-bottom: 20px;
}

.skills__item{
	margin-right: 30px;

	// &:last-child{
	// 	margin-right: 0;
	// }
}

.circles {
  fill: none;
  stroke-width: 15;
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  stroke: $green-light;
  stroke-dasharray: .0010 282.6;
  transition: all 1s;
}

.skills__item {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
}

.item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 13px;
  font-family: 'roboto-medium';
  color: #16c2aa;
}
.circles:hover .circle-0 {
   stroke-dasharray: .001 282.6;
}
.circles:hover .circle-5 {
  stroke-dasharray: 14.13 282.6;
}
.circles:hover .circle-10 {
   stroke-dasharray: 28.26 282.6;
}
.circles:hover .circle-15 {
   stroke-dasharray: 42.39 282.6;
}
.circles:hover .circle-20 {
   stroke-dasharray: 56.52 282.6;
}
.circles:hover .circle-25 {
   stroke-dasharray: 70.65 282.6;
}
.circles:hover .circle-30 {
   stroke-dasharray: 84.78 282.6;
}
.circles:hover .circle-35 {
   stroke-dasharray: 98.91 282.6;
}
.circles:hover .circle-40 {
   stroke-dasharray: 113.04 282.6;
}
.circles:hover .circle-45 {
   stroke-dasharray: 127.17 282.6;
}
.circles:hover .circle-50 {
   stroke-dasharray: 141.3 282.6;
}
.circles:hover .circle-55 {
   stroke-dasharray: 155.43 282.6;
}
.circles:hover .circle-60 {
   stroke-dasharray: 169.56 282.6;
}
.circles:hover .circle-65 {
   stroke-dasharray: 183.69 282.6;
}
.circles:hover .circle-70 {
   stroke-dasharray: 197.82 282.6;
}
.circles:hover .circle-75 {
   stroke-dasharray: 211.95 282.6;
}
.circles:hover .circle-80 {
   stroke-dasharray: 226.08 282.6;
}
.circles:hover .circle-85 {
   stroke-dasharray: 240.21 282.6;
}
.circles:hover .circle-90 {
   stroke-dasharray: 254.34 282.6;
}
.circles:hover .circle-95 {
   stroke-dasharray: 268.47 282.6;
}
.circles:hover .circle-100 {
   stroke-dasharray: 282.6 282.6;
}

.section.map{
	position: relative;
}

#map{
	width: 100%;
	height: 100%;
}

.contacts{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // top: 25%;
    // transform: translate(-50%,-25%);
    opacity: 0.85;
    height: 290px;
    background: #fcfcfc;
    border-radius: 5px 5px 5px 5px;
    justify-content: stretch;
}

.contacts__ways{
	margin-top: 5px;
}

.contacts__list{
	margin-left: 35px;
}

.contacs__title{
	margin: 30px 0;

	.block-subtitle{
		color: $black;
	}
}

.contacts__item{
	margin-bottom: 9px;
}

.sprite-contacts{
	display: none;
}

.contacts__link{
	display: flex;
	text-decoration: none;
	font-size: 16px;
	color: $grey;
	font-family: 'roboto-medium';
}

.contacts__icon{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.wrap__internal:after{
	display: block;
	content: "";
	// height: 147px;
}

.footer{
	position: relative;
	// height: 147px;
	background: $black;
	opacity: 0.85;
	display: flex;
    flex-direction: column;
    // margin-top: -147px;
}

.footer__top{
	flex: 1 1 50%;
    border-bottom: 1px solid white;
    border-color: rgba(255,255,255,.1);
    padding: 6px 0;

    .container{
    	display: flex;
	    justify-content: space-between;
	    margin-top: 18px;
    }
}

.navigation{
	display: flex;
}

.navigation__list{
	margin: auto;
}

.navigation__item{
	text-decoration: none;
	display: inline-block;
	margin-right: 35px;
}

.navigation__link{
	color: #fff;
	font-size: 16px;
	font-family: 'roboto-medium';
	line-height: 1.5;
	transition: .2s;

	&:hover{
		color: $green-light;
	}
}

.soc__item{
	width: 36px;
	height: 36px;
	display: inline-block;
	background-color: $black;
	margin-right: 10px;

	svg{
		fill: $black;
  		transition: all .5s;
	}

	&:hover{
		svg{
			fill: #fff;

			circle{
				fill: none;
			}
		}
	}
}

.footer__bottom{
	flex: 1 1 50%;
	padding: 12px 0;
	
	.container{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    height: 100%;
	}

}

.footer__description,.footer__subslogan{
	color: #fff;
	font-size: 16px;
	opacity: .5;
	line-height: 1.5;
	max-width: 500px;
	font-family: 'roboto-light';
}


@media screen and (max-width: 9999px){
	.about__left{
	    display: flex;
	    justify-content: space-around;
	    align-items: flex-start;
	}
}

@media screen and (max-width: 1400px){
	.about__left{
		display: block;
	}
}

@media screen and (max-width: 768px){
	.menu-section__content .navigation__link{
		font-size: 49px;
	}

	.about__right .user-description__text{
	    max-width: 500px;
	}

	.skills__title{
	    text-align: center;
	}

	.skills__list{
		display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
	}

	.right__skills{
		margin-left: 0;
	}
	.footer__top{
		padding: 0;
	}
	.footer__bottom{
		padding: 12px 0 0 ;
	}

	.footer__top .container{
	    flex-wrap: wrap;
	}

	.navigation{
	    flex: 1 1 100%;
	}

	.footer__socials{
	    flex: 1 1 100%;
	    padding-top: 15px;
	    padding-bottom: 10px;
	}
	.soc__list{
		display: flex;
		justify-content: center;
	}

	.footer__bottom .container{
		flex-wrap: wrap;
	    justify-content: center;
	}
	.footer__description{
		text-align: center;
		max-width: auto;
	}
}

@media screen and (max-width: 480px){
	.menu-section__content .navigation__link{
		font-size: 35px;
	}

	.skills__item{
		margin-right: 0;
	}
	.navigation__item{
		margin-right: 4px;
	}
}

@media screen and (max-width: 400px){
	.about__right{
		width: 100%;
	}
	.user-description__avatar{
		max-width: 320px;
	}
	.contacts{
		top: 0;
		transform: translate(-50%, 0);
	}
	.footer__socials{
		padding-bottom: 0;
	}
}