$green-light: #00bfa5;
$green-dark: #009688;
$grey: #455a64;
$black: #373e42;
$offer: #6da3bd;



@import "normalize.scss";
@import "fonts.scss";
@import "adjustment.scss";
@import "welcome.scss";
@import "about.scss";
@import "blog.scss";
@import "works.scss";