.wrapper.welcome{
	background: url(../backgrounds/welcome-background.jpg) no-repeat;
	background-position: center top;
	background-size: cover;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 100%;
	    position: relative;
	    overflow: hidden;
}

.welcome .container{
	display: flex;
}


.welcome .header{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
}


.auth-button-link{
	color: #fff;
	
}


.welcome .auth-button{
	padding: 14px 28px;
	border: 1px solid #fff;
	border-radius: 5px;
	line-height: 1;
	cursor: pointer;
	position: absolute;
	top: 24px;
	right: 20px;
	transition: .3s;
	font-family: roboto-medium;

	&:hover{
		background-color: #fff;
		color: $green-light;

		.auth-button-link{
			color: $green-light;
		}
	}
}

.plate{
	width: 380px;
	height: 395px;
	background-color: #fff;
	opacity: 0.85;
	border-radius: 5px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plate__name{
	text-align: center;
    margin-top: -25px;
}

.plate__title{
	text-align: center;
    margin-top: -40px;
    color: $grey;
}

.title-line{
	font-family: roboto-regular;
}

.photo{
	display: flex;
}

.main-photo{
	max-width: 140px;
	max-height: 140px;
	border-radius: 50%;
	margin: auto;
	margin-top: 4%;

}

.name-line{
	font-size: 28px;
	font-family: roboto-medium;
	line-height: 1.2;
	color: $grey;
}


.socials__list{
	display: flex;
    justify-content: center;
}

.socials__item{
	margin-left: 15px;
	margin-right: 15px;
}

.socials__item{
	svg{
		vertical-align: middle;

		path{
		fill: rgba(0, 191, 165, .5);
		transition: .2s;
		}
	}
	

	&:hover svg path{
		fill: rgb(0, 191, 165);
	}
}

.nav__list{
	display: flex;
}

.nav__item{
	flex: 1 1 auto;
	font-size: 16px;
	background-color: $green-light;
	transition: .2s;
	border-right: 2px solid #73cac2;
	&:hover{
		background-color: $green-dark;
	}
	
	&:first-child{
		border-radius: 0 0 0 5px;
	}
	
	&:last-child{
		border-radius: 0 0 5px 0;
		border-right: none;
	}
}

.nav__link{
	color: #fff;
	font-family: roboto-medium;
	display: block;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

.footer-line{
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
	font-family: roboto-regular;
	margin-top: -25px;
}

.wrapper:after{
		content: "";
		display: block;
		height: 44px;
		z-index: 0;
	}
	.footer-line{
		margin-bottom: 0;
	    margin-top: -44px;
	    height: 44px;
	    position: relative;
	    z-index: 10;
	}

@media screen and (max-width: 1200px){
	.welcome .header{
		justify-content: flex-end;
	    padding: 10px 25px 0 0;
	    margin-bottom: 25px;
	}

	.welcome .auth-button{
		position: relative;
		top: auto;
		right: auto;
	}
	.container{
		max-width: 768px;
		justify-content: center;
		margin-bottom: 30px;
	}

	.plate{
		width: 348px;
	}
}

@media screen and (max-width: 600px){
	.wrapper.welcome{
	    height: 100%;
	    position: relative;
	    overflow: hidden;
	}

	.container{
		max-width: 320px;
		margin-bottom: 40px;
	}

	.wrapper:after{
		content: "";
		display: block;
		height: 46px;
		z-index: 0;
	}

	.welcome .header{
		justify-content: center;
		padding: 0;
		margin-bottom: 0;
	}
	
	.welcome .auth-button{
		position: relative;
	    top: auto;
	    right: auto;
	    margin-top: 10px;
	    margin-bottom: 36px;
	}

	.footer-line{
		margin-bottom: 0;
	    margin-top: -46px;
	    height: 46px;
	    position: relative;
	    z-index: 10;
	}
	
}

