include ./pug/common/_mixins

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='description', content='Личный сайт веб-разработчика Устинова Александра')
    meta(name='keywords', content='#')
    title Welcome
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    .wrapper.welcome
      header.header
        .auth-button
          a.auth-button-link(href='#') Авторизоваться
      .container
        .flipper-block
          include ./pug/sections/plate1
          include ./pug/sections/plate2

    .footer-line
      p © Устинов Александр | создано с любовью в loftschool | 2017
    //- script(type='text/javascript', src='js/bundle.js')
    script(src='./js/jquery-3.2.1.min.js')
    //- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    //- <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    //- <script src="./js/es6/flipper.js"></script>
