include common/_mixins

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
		block title
			title Главная страница
		meta(name='description', content='Личный сайт веб-разработчика Устинова Александра')
		meta(name='keywords', content='Веб-разработчик')
		link(rel='stylesheet', type='text/css', href='css/main.css')

		

	body
		.wrapper.wrap__internal
			block background
			
			include sections/header

			block content

		include sections/footer
		script(src='./js/bundle.js')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTw0MWaf2CmB4RXv-yrUcI4D0GcEul98c&callback=initMap" async defer)
		script(src='./js/scroll.js')